@tailwind base;
/* @tailwind components; */
/* @tailwind utilities; */

*{
  font-family: 'Source Sans Pro', sans-serif;
}

.gradient {
  /* background: linear-gradient(90deg, #009fe2 0%, #d53369 100%); */
  background: linear-gradient(90deg, #009fe2 0%, #009fe2 100%);
}

#root {
  height: 100vh;
}